@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #1a1e21;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    border-radius: 0.300rem;
    background-color: #0d6efd;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    color: #707070;
    background-color: #d0d0d0 !important;
}

.pagination {
    margin-top: 20px;
}

.pagination ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}

.pagination ul > li {
    list-style-type: none;
}

.pagination ul > li:not(:first-child) {
    margin-left: 5px;
}

.pagination ul > li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #247DFFFF;
    border-radius: 0.300rem;
}

.pagination > ul > li a.c-sliding-pagination__page--current, .todo-list > main .pagination > ul > li a:not(.c-sliding-pagination__list-element--disabled):hover {
    background-color: #254674;
}

.pagination > ul > li.c-sliding-pagination__list-element--disabled a {
    cursor: not-allowed;
    color: #333333;
    background-color: #c9c9c9;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loading > .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #247DFFFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 10;
}

.loading > span {
    margin-top: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}